<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>home</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="./works" class="btn">Check out our works!</a>
    <a href="./about" class="btn">About us!</a>
    <a href="./gallery" class="btn">View our gallery!</a>

    <script src="./script.js"></script>
</body>
</html>